<div #jumbotron class="jumbotron" *mobxAutorun>
  <div
    class="jumbotron-background front dark"
    [class.vanish]="store.showBg"
    [style.backgroundColor]="appStore.hostBgMainColor"
  ></div>
  <div
    class="jumbotron-background dark"
    [style.backgroundImage]="store.baseBgStyle"
    [style.backgroundPosition]="store.showBg || 'center'"
  ></div>
  <div class="base-title">
      <h1 class="title">{{ appStore.blogName }}</h1>
      <div class="divider"></div>
      <p class="subtitle">{{ appStore.slogen }}</p>
  </div>
</div>