:host {
    display: flex;
    flex: 1 0 auto;
    flex-direction: column;
    .white-bg {
        flex: 1 0 auto;
    }
}

.index {
    position: absolute;
    top: 5rem;
    right: 1rem;
    max-height: 50vh;
    overflow: scroll;

    &.affix {
        position: fixed;
        top: 5rem;
    }
}