:host {
    display: flex;
    flex: 1 0 auto;
    flex-direction: column;
    .white-bg {
        flex: 1 0 auto;
    }
}

.index {
    position: absolute;
    top: 5rem;
    right: 1rem;
    max-height: 60vh;
    overflow-y: scroll;
    &::-webkit-scrollbar {
        display: none;
    }
    &.affix {
        position: fixed;
        top: 5rem;
    }
}