.logo-icon {
    position: relative;
    cursor: pointer;
    .icon-mask {
        display: flex;
        align-items: center;
        justify-content: center;
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        opacity: 0;
        transition: opacity .3s ease-in-out;
        background: rgba(0, 0, 0, 0.7);
        z-index: 20;
        .fa {
            color: white;
            font-size: 1.5rem;
        }
    }
    &:hover {
        .icon-mask {
            opacity: 1;
        }
    }
}