<div *mobxAutorun>
<div class="pager center" [class.hidden]="!isShowPager()">
    <div class="pager-item go-prev" [class.disabled]="!canGoPrev()" (click)="goPrev()">
        <a><i class="material-icons">keyboard_arrow_left</i></a>
    </div>
    <div class="pager-item" *ngFor="let pageItem of pagerItems | withKey" [class.selected]="pageItem.value">
        <!-- <a routerLink="{{ getLink(pageItem.key) }}"> -->
        <a (click)="goPage(pageItem.key)">
            {{ pageItem.key }}
        </a>
    </div>
    <div class="pager-item go-next" [class.disabled]="!canGoNext()" (click)="goNext()">
        <a><i class="material-icons">keyboard_arrow_right</i></a>
    </div>
</div>

</div>