<div class="card-flat">
  <div class="card-header">
    <div style="background: white" class="header-img"></div>

    <!--  *ngIf="post.rest; else elseTemplate"> -->
    <p>
      <a routerLink="{{ '/post/' + post.id }}">{{ post.title }}</a>
    </p>
    <!-- <ng-template #elseTemplate>
          <p>{{ post.title }}</p>
      </ng-template> -->
  </div>
  <div class="card-content">
    <app-markdown [content]="post.section"></app-markdown>
  </div>
  <div class="card-info with-border">
    <div class="label-group">
      <div class="label-icon"><i class="fa fa-calendar"></i></div>
      <div class="label">{{ post.createAt | dateX }}</div>
    </div>
    <div class="label-group">
      <div class="label-icon"><i class="fa fa-clipboard"></i></div>
      <div class="label">
        <a routerLink="{{ '/search/category/' + post.category }}">{{
          post.category
        }}</a>
      </div>
    </div>
    <div class="label-group">
      <div class="label-icon"><i class="fa fa-tag"></i></div>
      <div class="label" *ngFor="let tag of post.labels">
        <a routerLink="{{ '/search/label/' + tag }}">{{ tag }}</a>
      </div>
    </div>
  </div>
</div>
