<div class="card-flat">
  <div class="card-header">
      <div style="background: white;" class="header-img"></div>

      <!--  *ngIf="post.rest; else elseTemplate"> -->
      <p>
          <a routerLink="{{ '/post/' + post._id }}">{{ post.title }}</a>
      </p>
      <!-- <ng-template #elseTemplate>
          <p>{{ post.title }}</p>
      </ng-template> -->
  </div>
  <div class="card-content">
      <app-markdown [content]="post.section"></app-markdown>
  </div>
  <div class="card-info with-border">
      <ul>
          <li>
              <i class="material-icons">today</i>
              <ul>
                  <li>{{ (post.date | dateX) || (post.date | date)  }}</li>
              </ul>
          </li>
          <li>
              <i class="material-icons">content_paste</i>
              <ul>
                  <li *ngFor="let cat of post.categories"><a routerLink="{{ '/categories/' + cat }}">{{ cat }}</a></li>
              </ul>
          </li>
          <li>
              <i class="material-icons">label</i>
              <ul>
                  <li *ngFor="let tag of post.labels"><a routerLink="{{ '/tags/' + tag }}">{{ tag }}</a></li>
              </ul>
          </li>
      </ul>
  </div>
</div>
